body {
    background-image: url("assets/Pharmacy-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.App > .card {
    border-radius: 30px;
}

.rounded-content {
    border-radius: 20px;
}

.customDropzone {
    border: 1px dashed cornflowerblue;
}

.image-fit {
    object-fit: cover;
}

.scrolling-list {
    overflow-y: scroll;
    height: 380px;
}

.image-top-rounded {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image-bottom-rounded {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.App > .card .btn {
    border-radius: 30px;
    margin-bottom: 20px;
}

.dashboardImage {
    background-image: url("assets/good-for-all-pharmacy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.customHeader {
    background-color: cornflowerblue !important;
}

.borderless {
    border-top: 0 none;
}

.listItem {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}
