body {
    background-image: url("assets/Pharmacy-background-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.App > .card {
    border-radius: 30px;
}

.dashboardImage {
    background-image: url("assets/good-for-all-pharmacy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.customHeader {
    background-color: cornflowerblue !important;
}

.borderless {
    border-top: 0 none;
}

.listItem {
    border-top: 0 none;
    border-left: 0 none;
    border-right: 0 none;
}
